
@import url("main.css");

body {
    padding-top: 0;
}

html {
    scroll-behavior: smooth !important;
}

body > *:not(.full-logo-container), main > *:not(.full-logo-container) {
    z-index: 3;
    position: relative;
}

.full-logo-container {
    width: calc(100% - 20px);
    margin: 0 10px 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-button {
    line-height: 1.5em;
}

.donate-button::after {
    content: none;
}

.full-logo-container .donate-button {
    height: 3em;
    padding: 0 15px;
    margin: 0 10px;
}

.full-logo {
    width: 100%;
}

.logo-cover {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: sticky;
    margin-bottom: -100vh;
    top: 0;
    z-index: 2;
}

@media only screen and (min-width: 600px) {
    .full-logo-container {
        width: 60%;
        margin: 0 20% 10px;
    }
}

@media only screen and (min-width: 1000px) {
    .full-logo-container {
        width: 600px;
        margin: 0 calc((100% - 600px) / 2) 10px;
    }
}

#header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header * {
    font-weight: bold;
}

#header .donate-nav-form {
    justify-self: flex-start;
    margin: 0 100px 0 20px;
    height: calc(2em + 10px);
}

#header .donate-nav-button {
    font-size: 1.25em;
    border: 1px solid white;
    height: 2em;
    line-height: 1em;
    padding: 0px 10px;
}

#header .donate-nav-button::after {
    content: none;
}

@media only screen and (min-width: 980px) {
    #header .donate-nav-form {
        margin: 0 20px;
    }
}

#header .donate-nav-button {
    background-color: white;
    color: hsl(var(--hue-main), var(--saturation-main), 37%) !important;
}

#header .donate-nav-button:hover {
    transform: scale(1.1);
}

#header .inner {
    padding: 5px 0;
    height: 100%;
    /* justify-content: center; */
}

.inner>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner>a:hover {
    /* background-color: hsl(var(--hue-main), var(--saturation-main), 34%) !important; */
}

#header .logo {
    line-height: 1rem;
}

.inner>.remove {
    display: none;
}

.inner>.book {
    padding: 0 20px;
    box-shadow: 0 0 0 1px #fff;
    font-weight: bold;
    align-items: center;
}

.inner>.book:hover {
    color: hsl(var(--hue-main), var(--saturation-main), 37%) !important;
    background-color: #fff;
}

@media only screen and (min-width: 981px) {
    .inner>.remove {
        display: flex;
    }
}

@media only screen and (min-width: 500px) {
    .inner>.remove.book {
        display: flex;
    }
}

.inner img {
    height: 100%;
}

.inner img ~ span {
    display: none;
}

/* navPanel is generated by JS and shown on mobile */
#navPanel img {
    display: inline-block;
    height: 1em;
    margin-right: 1.2em;
    transform: scale(1.8) translate(0.2em, 0.1em);
}

.logo>strong {
    margin-right: .5ex;
}

#banner .indicators li {
    cursor: initial;
}

#booking-container {
    filter: invert(0.75) hue-rotate(180deg);
    box-shadow: 0 0 0 2px #eee;
    padding: 10px;
    margin: 20px;
    height: calc(100vh - 80px);
    z-index: 3;
    position: relative;
}

#booking {
    position: absolute;
    top: -100px;
}

#booking-text {
    position: relative;
    top: 100px;
}

main {
    background-color: #fff;
}

main.no-overflow {
    display: flex;
    flex-direction: column;
}

.map-container {
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.map {
    width: 100%;
    max-width: 500px;
}

.block-booking-container {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 20px;
}

.contact-column {
    border-left: 10px solid hsl(var(--hue-main), var(--saturation-main), 37%);
    padding-left: 10px;
}

.contact-row label {
    display: inline;
}

#footer .copyright {
    margin: 1em;
}

#footer {
    position: relative;
}

.sub-page-header {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.paragraph-img-wrap {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.wrap-front-img {
    width: 100%;
    margin: 0 0 20px 0;
    height: max-content;
}

@media only screen and (min-width: 450px) {
    .wrap-front-img {
        width: calc(50% - 20px);
        float: left;
        margin: 0 20px 20px 0;
    }

    .paragraph-img-wrap {
        flex-direction: row;
    }
}

@media only screen and (min-width: 800px) {
    .wrap-front-img {
        width: calc(33% - 20px);
        float: left;
    }

    .contact-container {
        border: 20px solid hsl(var(--hue-main), calc(var(--saturation-main) * 0.542), 72%);
        padding: 20px 0;
    }
}

.phone {
    display: none;
}
.not-phone {
    display: inline;
}

@media only screen and (orientation: portrait) and (max-width: 479px){
    /* probably phone */
    .phone {
        display: inline;
    }
    .not-phone {
        display: none;
    }
}

.contact-row .multiple-lines {
    display: block;
    margin-left: 25px;
}


iframe {
    height: calc(100vh - 100px);
    width: 100%;
}

/* #banner~iframe {
    width: 100%;
} */

#footer {
    padding: 10px 0 10px 0;
}

#footer * {
    padding: 0 !important;
    margin: 0 !important;
}

#footer .copyright {
    border: none;
    margin-right: 20px !important;
}

#footer>.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#footer .donate-button {
    height: 2.5em;
    padding: 0 10px !important;
    margin: 0 10px !important;
    line-height: 1em;
}

/* 
body {
    overflow: hidden;
} */
/* 
header, .full-logo-container {
    display: none;
}  */